{
    "swagger": "2.0",
    "info": {
        "title": "rooms-agent-api",
        "version": "1.0",
        "description": "Import from \"rooms-agent-api\" Function App"
    },
    "host": "apim-rooms-agent.azure-api.net",
    "basePath": "/rooms",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/book": {
            "post": {
                "operationId": "post-bookroomfnc",
                "summary": "BookRoomFnc",
                "parameters": [
                    {
                        "name": "room creation",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Room creation"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/room-creation-response"
                        },
                        "examples": {
                            "application/json": {
                                "id": "feae06bb-accc-4fd4-bcf4-ac91881a1c4f",
                                "roomId": "99467956939642766",
                                "startTime": "2025-03-07T15:00:00+00:00",
                                "endTime": "2025-03-07T16:00:00+00:00",
                                "participants": [
                                    {
                                        "acsParticipantId": "8:acs:b857f92e-8f1b-4f96-b8aa-c8a19a3fe443_00000026-07dd-8c0e-3055-37bd45600085",
                                        "role": "Presenter",
                                        "email": "email@qqq.com",
                                        "name": "Frank"
                                    },
                                    {
                                        "acsParticipantId": "8:acs:b857f92e-8f1b-4f96-b8aa-c8a19a3fe443_00000026-07dd-8ced-3055-37bd45600086",
                                        "role": "Attendee",
                                        "email": "email@qqq.com",
                                        "name": "Alice"
                                    }
                                ],
                                "topic": "Physics Discussion",
                                "tags": [
                                    "physics",
                                    "education"
                                ],
                                "bookedBy": "Dr.Smith"
                            }
                        }
                    }
                }
            }
        },
        "/search": {
            "get": {
                "operationId": "get-searchroom",
                "summary": "SearchRoom",
                "parameters": [
                    {
                        "name": "participantName",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "participantEmail",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "acsParticipantId",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "topic",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "name": "bookedBy",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/room-search-response"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "id": "feae06bb-accc-4fd4-bcf4-ac91881a1c4f",
                                    "roomId": "99467956939642766",
                                    "startTime": "2025-03-07T15:00:00+00:00",
                                    "endTime": "2025-03-07T16:00:00+00:00",
                                    "participants": [
                                        {
                                            "acsParticipantId": "8:acs:b857f92e-8f1b-4f96-b8aa-c8a19a3fe443_00000026-07dd-8c0e-3055-37bd45600085",
                                            "role": "Presenter",
                                            "email": "email@qqq.com",
                                            "name": "Frank"
                                        },
                                        {
                                            "acsParticipantId": "8:acs:b857f92e-8f1b-4f96-b8aa-c8a19a3fe443_00000026-07dd-8ced-3055-37bd45600086",
                                            "role": "Attendee",
                                            "email": "email@qqq.com",
                                            "name": "Alice"
                                        }
                                    ],
                                    "topic": "Physics Discussion",
                                    "tags": [
                                        "physics",
                                        "education"
                                    ],
                                    "bookedBy": "Dr.Smith"
                                }
                            ]
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Room creation": {
            "type": "object",
            "properties": {
                "startTime": {
                    "type": "string"
                },
                "endTime": {
                    "type": "string"
                },
                "participants": {
                    "type": "array",
                    "items": {
                        "required": [
                            "role",
                            "email",
                            "name"
                        ],
                        "type": "object",
                        "properties": {
                            "role": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    }
                },
                "topic": {
                    "type": "string"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "bookedBy": {
                    "type": "string"
                }
            },
            "example": {
                "startTime": "2025-03-07T15:00:00Z",
                "endTime": "2025-03-07T16:00:00Z",
                "participants": [
                    {
                        "role": "Presenter",
                        "email": "email@qqq.com",
                        "name": "Frank"
                    },
                    {
                        "role": "Attendee",
                        "email": "email@qqq.com",
                        "name": "Alice"
                    }
                ],
                "topic": "Physics Discussion",
                "tags": [
                    "physics",
                    "education"
                ],
                "bookedBy": "Dr.Smith"
            }
        },
        "room-creation-response": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "roomId": {
                    "type": "string"
                },
                "startTime": {
                    "type": "string"
                },
                "endTime": {
                    "type": "string"
                },
                "participants": {
                    "type": "array",
                    "items": {
                        "required": [
                            "acsParticipantId",
                            "role",
                            "email",
                            "name"
                        ],
                        "type": "object",
                        "properties": {
                            "acsParticipantId": {
                                "type": "string"
                            },
                            "role": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    }
                },
                "topic": {
                    "type": "string"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "bookedBy": {
                    "type": "string"
                }
            }
        },
        "room-search-response": {
            "type": "array",
            "items": {
                "required": [
                    "id",
                    "roomId",
                    "startTime",
                    "endTime",
                    "participants",
                    "topic",
                    "tags",
                    "bookedBy"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "roomId": {
                        "type": "string"
                    },
                    "startTime": {
                        "type": "string"
                    },
                    "endTime": {
                        "type": "string"
                    },
                    "participants": {
                        "type": "array",
                        "items": {
                            "required": [
                                "acsParticipantId",
                                "role",
                                "email",
                                "name"
                            ],
                            "type": "object",
                            "properties": {
                                "acsParticipantId": {
                                    "type": "string"
                                },
                                "role": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "topic": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "bookedBy": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "tags": []
}